@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>

<h1>Recipes for @User.Identity.Name</h1>

@if (Model.Any())
{
  <table>
    <tr>
        <th>
        <h3>All recipes</h3>
            <h5>@Html.ActionLink("Sort", "Index", new { sortOrder = ViewBag.RatingSortParm }, new { @class="sort" })</h5>
        </th>
        <th>
        </th>
        <th></th>
    </tr>
  </table>
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <li>@Html.ActionLink($"{recipe.Description}, {recipe.Rating}", "Details", new { id = recipe.RecipeId }, new { @class="link" })</li>
    }
  </ul>
} 
else
{
  <h3>No recipes have been added yet!</h3>
}

<form asp-controller="Recipes" asp-action="Index" method="get">
    <p>
        Search your list: <input type="text" name="SearchString" />
        <input type="submit" value="Find Recipe!" class="btn btn-outline-light btn-sm" />
    </p>
</form>

<p>@Html.ActionLink("Add new recipe", "Create", null, null, new { @class="link" })</p>