.homepage {
  background-image: url("https://cdn.discordapp.com/attachments/537816642122547212/798973413233786930/pexels-andrea-piacquadio-3772534.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.homeText {
  font-family: 'Dancing Script', cursive;
  color: white;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  text-shadow:2px 2px 5px wheat ;
}


body {
  background-color: rgba(44, 44, 88, 0.767);
}

.brand-wrapper {
  padding-top: 7px;
  padding-bottom: 8px; }
  .brand-wrapper .logo {
    height: 25px; }

.login-section-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 68px 100px;
  background-color: #fff; }
  @media (max-width: 991px) {
    .login-section-wrapper {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (max-width: 575px) {
    .login-section-wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 100vh; } }

.login-wrapper {
  width: 300px;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px; }
  @media (max-width: 575px) {
    .login-wrapper {
      width: 100%; } }
  .login-wrapper label {
    font-size: 14px;
    font-weight: bold;
    color: #b0adad; }
  .login-wrapper .form-control {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 9px 5px;
    min-height: 40px;
    font-size: 18px;
    font-weight: normal; }
    .login-wrapper .form-control::-webkit-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::-moz-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control:-ms-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::-ms-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::placeholder {
      color: #b0adad; }
  .login-wrapper .login-btn {
    padding: 13px 20px;
    background-color: #fdbb28;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px; }
    .login-wrapper .login-btn:hover {
      border: 1px solid #fdbb28;
      background-color: #fff;
      color: #fdbb28; }
  
  .login-wrapper-footer-text {
    font-size: 16px;
    color: #000;
    margin-bottom: 0; }

.login-title {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 25px; }

.login-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;

  -o-object-position: left;
     object-position: left; }

.bodyLogin {
  
    background-color: #fff;
    min-height: 100vh; 
}

.register-section-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 68px 100px;
  background-color: #fff; }
  @media (max-width: 991px) {
    .register-section-wrapper {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (max-width: 575px) {
    .register-section-wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 100vh; } }

.register-wrapper {
  width: 300px;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px; }
  @media (max-width: 575px) {
    .registerwrapper {
      width: 100%; } }
  .register-wrapper label {
    font-size: 14px;
    font-weight: bold;
    color: #b0adad; }
  .register-wrapper .form-control {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 9px 5px;
    min-height: 40px;
    font-size: 18px;
    font-weight: normal; }
    .register-wrapper .form-control::-webkit-input-placeholder {
      color: #b0adad; }
    .register-wrapper .form-control::-moz-placeholder {
      color: #b0adad; }
    .register-wrapper .form-control:-ms-input-placeholder {
      color: #b0adad; }
    .register-wrapper .form-control::-ms-input-placeholder {
      color: #b0adad; }
    .register-wrapper .form-control::placeholder {
      color: #b0adad; }
  .register-wrapper .register-btn {
    padding: 13px 20px;
    background-color: #fdbb28;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px; }
    .register-wrapper .register-btn:hover {
      border: 1px solid #fdbb28;
      background-color: #fff;
      color: #fdbb28; }
  .register-wrapper a.forgot-password-link {
    color: #080808;
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 54px; }
    @media (max-width: 575px) {
      .register-wrapper a.forgot-password-link {
        margin-bottom: 16px; } }
  .register-wrapper-footer-text {
    font-size: 16px;
    color: #000;
    margin-bottom: 0; }

.register-title {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 25px; }

.register-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;

  -o-object-position: left;
     object-position: left; }

.bodyRegister{
  
    background-color: #fff;
    min-height: 100vh; 
}

p {
  font-family: Times;
  color: white;
}

h1 {
  font-family: Times;
  color: wheat;
  text-align: center;
}

h2 {
  font-family: Times;
}

h3 {
  font-family: Times;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

h4 {
  font-family: Times;
}

h5 {
  font-family: Times;
}

li {
  font-family: Times;
  color: wheat;
}

.link {
  font-family: Times;
  color: wheat;
}

.sort {
  font-family: Times;
  font-style: italic;
  color: rgb(89, 241, 241);
}

.bodyLogin {
  
  background-color: #fff;
  min-height: 100vh; 
}

.dropDown {
  font-family: Times;
}

.recipeC-section-wrapper {
display: -webkit-box;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
        flex-direction: column;
padding: 68px 100px;
background-color: #fff; }
@media (max-width: 991px) {
  .recipeC-section-wrapper {
    padding-left: 50px;
    padding-right: 50px; } }
@media (max-width: 575px) {
  .recipeC-section-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh; } }

.recipeC-wrapper {
width: 300px;
max-width: 100%;
padding-top: 24px;
padding-bottom: 24px; }
@media (max-width: 575px) {
  .recipeCwrapper {
    width: 100%; } }
.recipeC-wrapper label {
  font-size: 14px;
  font-weight: bold;
  color: #b0adad; }
.recipeC-wrapper .form-control {
  border: none;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;
  padding: 9px 5px;
  min-height: 40px;
  font-size: 18px;
  font-weight: normal; }
  .recipeC-wrapper .form-control::-webkit-input-placeholder {
    color: #b0adad; }
  .recipeC .form-control::-moz-placeholder {
    color: #b0adad; }
  .recipeC .form-control:-ms-input-placeholder {
    color: #b0adad; }
  .recipeC-wrapper .form-control::-ms-input-placeholder {
    color: #b0adad; }
  .recipeC-wrapper .form-control::placeholder {
    color: #b0adad; }
.recipeC-wrapper .register-btn {
  padding: 13px 20px;
  background-color: #fdbb28;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 14px; }
  .recipeC-wrapper .register-btn:hover {
    border: 1px solid #fdbb28;
    background-color: #fff;
    color: #fdbb28; }

.recipeC-wrapper-footer-text {
  font-size: 16px;
  color: #000;
  margin-bottom: 0; }

.recipeC-title {
font-size: 30px;
color: #000;
font-weight: bold;
margin-bottom: 25px; }

.recipeC-img {
width: 100%;
height: 100vh;
-o-object-fit: cover;
   object-fit: cover;

-o-object-position: left;
   object-position: left; }

.bodyRecipeC{

  background-color: #fff;
  min-height: 100vh; 
}

.navbar {
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}