@{
  Layout = "_Layout";
}

@using RecipeBox.ViewModels;
@model LoginViewModel;

<body class="bodyLogin">
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Log in</h1>
            <form action="/account/login" method="post">
              <div class="form-group">
                <label for="Email">Email</label>
                <input type="Email" name="Email" id="Email" class="form-control" placeholder="email@example.com">
              </div>
              <div class="form-group mb-4">
                <label for="Password">Password</label>
                <input type="Password" name="Password" id="Password" class="form-control"
                  placeholder="enter your passsword">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
            </form>

            <p class="login-wrapper-footer-text">Don't have an account? <a href=""
                class="text-reset">@Html.ActionLink("Register Here", "Register")</a></p>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img
            src="https://cdn.discordapp.com/attachments/537816642122547212/798993577496805486/pexels-elly-fairytale-3893546.jpg"
            alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>
</body>
<hr />